 body {
     background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/brushed_alu.png)
  }



.description {
  color: white;
  font-family: fantasy;
  font-weight: 700;
  text-align: center;
}



.wrapper {
  margin: 30px auto;
  max-width: 800px;
  padding: 20px;
  background: white;

}

 h1{ 
  font-family: Arial;
  font-size: xx-large;
  text-align: center;
 }

 h2 {
  font-family: Arial;
  font-size: x-large;
  text-align: center;
 }



 a {
    text-decoration: none;
    color: #8b0000;
}

p {
  font-family: Arial;
  font-size: medium;
  text-align: justify; 

}

header {
  padding: 30px 0 0;
  border-bottom: solid;
  background: red;
  text-align: center;
  color: white;
  font-family: fantasy;
  font-weight: 600;
  


  

}

footer {
  border-top: solid;
  clear: both;
  background: red;
  font-family: fantasy;
  font-weight: 400;

}

.page {
  float: right;
  width: 70%;
  border-left: solid;
  padding-left: 1.5em;
  padding-bottom: 2em;
  min-height: 400px;
  background: white;

}

aside {
  float: left;
  width: 25%;
  margin-top: 1em;

}

nav ul {
  list-style-type: none;
  padding: 0;

}

nav li {
  margin-bottom: 1em;
  background: red;
  text-align: center;
  font-family: fantasy;
  font-weight: 600;
  color: white;

}

nav .active {
  font-weight: bold;


}
